.main-container {
  display: flex;
  margin: 0 auto;
  width: 970px;
}

#map {
   flex: 0 0 600px;
  height: 100%;
  position: sticky !important;
  top: 0 !important;
}

.locations {
  flex-grow: 1;
  margin: 0;
  img {
    width: 300px;
  }

}
