.main-video-container {
  display: flex;
  h1 {
  text-align: center;
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: black;
  }
}

// list style
#list {
  flex: 0 0 200px;
  height: 100%;
  position: sticky !important;
  top: 0 !important;
  border: solid;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 2px;
  font-size: 20px;
  margin-right: 20px;
  // padding-left: 7px;
  background-color: #fafafa;
  color: black;
  min-height: 100vh;

  h2 {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;

    &:hover {
     background-color: grey;
    }
  }

  i {
    margin-left: 15px;
    margin-right: 25px;
  }


  a {
    color: black;


  }

  a:hover {

    text-decoration: none;

  }
  h5 {
    font-size: 16px;
    width: 100%;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    &:hover {
     background-color: lightgrey;
    }
    i {
    margin-left: 20px;
    margin-right: 25px;
  }
  }

  h6 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 10px;

  }

  ul {
    list-style-type:none;
  }

  #regionButton {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #fafafa;
    border: none;

    word-spacing: 90px;
    &:focus {
    outline: none;
  }

  }

  #myButton {
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #fafafa;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
     &:focus {
    outline: none;
  }

  }
}


// videos style..

#video-index{
  margin: 0;

}




.video-container {
  flex-grow: 1;
  text-align: left;
  a {
     color: red;

    &:hover {
    text-decoration: none;

  }
}
}

.card {
  position: relative;
  width: 300px;
  margin-top: 20px;
  background-color: #F4F4F4;
  border-radius: 4px;
  margin-right: 20px;

}

.card-img-top {

  width: 210px;
  height: 118px;
}

.card-body {

 h5 {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0;

  }

  p {
   color: grey;
   font-size: 1.3rem;
   margin-top: 0px;
   line-height: 8px;
   word-spacing: 1px;
  }




}
