<div class="main-article-container">
 <div class="sidebar">
 </div>
 <div class="articles">

  <% @articles.each do |article| %>

  <%= link_to article_path(article) do %>
  <div class="article">
    <img src="<%= article.photo_1 %>" alt="">

    <div class="article-body">
     <h3><%= article.title %></h3>
     <h5><%= article.subtitle %></h5>
   </div>
 </div>
 <%end%>
 <%end%>
</div>



<div class="messages">

</div>


</div>
